 *{
 	margin:0;
 	padding:0;
 }
 .header{
 	display:inline-flex;
 	width:100%;
 }
 .logo img{
 	height:60px;
 	width:80px;
 	margin-left: 20px;
 }
 .header .nav{
 	width:100%;
 }
 .header .nav ul{
 	margin-top: 20px;
 	width:550px;
 	float:right;
 	/*margin-right: 50px*/
 }
 .header .nav ul li{
 	display:inline-block;
 	padding:0px 10px;
 }
 .header .nav ul li a{
 	text-decoration: none;
 	font-family: sans-serif;
 	color:black;
 }
.header .login-button a{
	font-size: 17px;
	margin-top: 10px;
	display: inline-block;
	padding:10px 30px;
	margin-right: 50px;
	text-decoration: none;
	/*border-radius: 15px;*/
	/*background-color: #11C0FA;*/
  background-color:#2D66A0;
	color:white;
  opacity: 0.8;
	transition: 0.2s all linear;
}
.header .login-button a:hover{
	transform: scale(0.95);
  opacity:1;
}
 .toggle{
  margin-right: 50px;
  display:none;
}
#lable{
  display: inline-block;
  margin-top: 20px;
  font-size: 25px;
}
.banner{
	width:100%;
	overflow: hidden;
	height:700px;
	box-sizing: border-box;
}
.banner img{
	background-size: cover;
	width: 100%;
	max-height: 700px;
	/*opacity: 0.6;*/
	position: absolute;
    object-fit: cover;
    object-position: top;
}
.banner-text{
	position: absolute;
	width:100%;
}
.banner-text-container{
	padding-left: 100px;
}
 .banner-text h1{
   font-size: 50px;
   color:black;
   margin-top: 130px;
   color:white;
   width:100%;
 }
 .banner-text h2{
   font-size: 40px;
   color:black;
   margin-top: 30px;
   color:white;
   width:100%;
 }
 .banner-text p{
 	color:white;
 	font-size: 40px;
 	margin-top: 20px;

 }
 .banner-button{
 	/*margin-left: 100px;*/
 	margin-top: 100px;
 }
 .banner-button a{
 	font-size: 20px;
 	display: inline-block;
 	margin-left:100px;
 	text-decoration: none;
 	color:white;
 	padding: 10px 40px;
  background-color:#2D66A0;
 	/*background-color: #11C0FA;*/
 /*	box-shadow: 1px 1px 10px 0 #11C0FA;*/
 	/*border-radius: 20px;*/
 	transition: 0.2s all linear;
 }
 .banner-button a:hover{
 	transform: scale(0.9);
 }
  .school-programs{
  	display:inline-flex;
  	margin-top: 150px;
  	box-sizing: border-box;
  	width:100%;
    margin-bottom: 50px;
  }
  .school-programs-image{
  	width:50%;
  	padding:50px; 
  }
  .school-programs-image-content{
    height:300px;
    overflow: hidden;
  }
   .school-programs-image img{
   	width:100%;
   	height: 100%;
   	object-fit: cover;
    object-position:initial;
   }
   .school-programs-text{
  	width:50%;
  	padding:50px;
  }
  .school-programs-text p{
  	font-family: sans-serif;
  	font-size: 20px;
  	line-height: 25px;
  }
  .school-programs-learn-button{
  	margin-top: 50px;
  }
  .school-programs-learn-button a{
  	text-decoration: none;
  	padding:10px 30px;
  	border-radius: 20px;
  	border:2px solid #11C0FA;
  	font-family: sans-serif;
  	color:#11C0FA;
  	transition:0.4s all linear;
  }
  .school-programs-learn-button a:hover{
  	background-color: #11C0FA;
  	color:white;

  }
  .opportunities-to-grow{
    height:600px;
  }
  .slider1 .slider-text{
    position: relative;
  }
  .meet-our-principle{
    width:100%;
    display: inline-flex;
    margin-top: 100px;
  }
  .meet-our-principle-image{
    width:60%;
  }
  .principle-image{
    height:400px;
    overflow: hidden;
    padding-right:1px;
  }
    .principle-image img{
      width:100%;
      height:100%;
      object-fit: cover;
    object-position: center;
    }
    .meet-principle{
      width:100%;
      display: flex;
      flex-wrap:wrap;
      margin-top: 100px;
    }
    .meet-principle-component{
      width:50%;
      overflow: hidden;
      height:400px;
    }
    .meet-principle-component img{
       width:100%;
       height:100%;
       object-fit:cover;
       object-position: center;
    }
    .meet-principle-component-text{
      padding:100px 0px 0px 100px;
    }
    .meet-principle-component p{
      color:#68AAE1;
    font-size: 35px;
    }
     .meet-principle-component span{
      display:inline-block;
      color: #747474;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-top: 20px;
     }
     .meet-principle-component a{
      display: inline-block;
    text-decoration: none;
    color:white;
    background-color:#2D66A0;
    opacity: 0.7;
    font-family: sans-serif;
    padding: 10px 30px;
    margin-top: 40px;
    transition: 0.3s all linear;
     }
   .meet-principle-component a:hover{
     opacity: 1;
   }


  
  .opportunities-to-grow p{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0px;

  }
  .opportunities-to-grow-sliders{
  	height:600px;
  	width:100%;
  	overflow: hidden;
    /*margin-top: 50px;*/
    padding:0px 50px 50px 50px;
  }
  .opportunities-to-grow-sliders .slider1{
    display:inline-flex;
    height:600px;
    padding-top: 30px;
  }

  .opportunities-to-grow-sliders img{
  	width:100%;
  	height:100%;
     position: relative;
  } 
  .contact-tour-school{
    width:100%;
    margin-top:100px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: linear-gradient(#007991,#78ffd6);
    display: inline-flex;
  }
  .contact-tour-school-details{
    width:40%;
    padding-left:100px;

  }

   .contact-tour-school-details h1{
    font-family: sans-serif;
    font-size: 59px;
    margin-top: 100px;
    font-weight: 800;
    color: white;
   }
      .contact-tour-school-details p{
        font-family: sans-serif;
        font-size: 20px;
        margin-top: 50px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 1px;
        color: white;
      }
     .contact-tour-school-details label{
      font-family: sans-serif;
      margin-top: 20px;
      display:inline-block;
      font-size: 18px;
      color: white;
     } 
     .contact-tour-school-details input[type="text"]{
           padding:10px 30px;
           border-outline:none;
           border-radius: 5px;
     }
    .contact-tour-school-details textarea{
           width:400px;
           padding:20px;
     }
     .contact-tour-school-image{
      width:55%;
      margin-top: 200px;
      margin-left: 50px;
     }
      .contact-tour-school-image p{
        color: white;
        font-family: sans-serif;
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: 600;
        margin-top: 30px;
      }
     .footer{
      padding:20px 0px;
      text-align: center;
      background-image: linear-gradient(#007991,#78ffd6);
     }
     .footer p{
      font-family: sans-serif;
      font-size: 17px;
      color:white;
     }
     .footer span a{
      display: inline-block;
      text-decoration: none;
      color:white;
     }


     @media only screen and (max-width: 935px){
        .contact-tour-school{
          display:block;
          width:100%;
          overflow: hidden;
        }
        .contact-tour-school-details{
          width:100%;
          overflow: hidden;
        }
          .contact-tour-school-details p{
              width:70%;
              margin-left: 0px;
              font-size: 20px;
          }
        
        .contact-tour-school-image{
          width:100%;
        }
        .banner-text h1{
         font-size: 40px;
          color:black;
          margin-top: 100px;
          color:white;
          width:100%;
     }
    .banner-text h2{
   font-size:35px;
   color:black;
   margin-top: 30px;
   color:white;
   width:100%;
  }
 .banner-text p{
  color:white;
  font-size: 30px;
  margin-top: 20px;

 }
  .banner-button{
  margin-top: 50px;
 }

    .school-programs{
      margin-top: 0px;
    }

     }

    @media only screen and(max-width:996px){
        .banner-text h1 {
               font-size: 30px;
               margin-top: 80px;
               color: white;
               width: 100%;
        }

    }

     @media only screen and (max-width: 819px){
          .nav{
            display: none;
          }
          .toggle{
            display:block;
            width:70%;
            margin-left: 120px;
            margin-top: -70px;

          }
          #lable{
             float:right;
             
          }
          #toggle{
            float:right;
            margin-top: 10px;
            margin-right:-20px;
            display:none;
            height:60px;
           
          }
          .import{
                display: block;
                height: 100px;
                width: 100%;
            }
            .header{
              display:block;
              margin-top:20px;
              overflow: hidden;
              box-sizing: border-box;
            }
            .nav ul{
              width:50%;
              margin-top: 30px;
              height:200px;
              margin-left: 20px;
              transform: translateY(25px);
            }
            .nav ul li{
              width:70%;
              display: block;
              padding-top:20px;
              margin-top: 20px;
              text-align: center;
            }
            .header .login-button{
              width:100%;
              overflow: hidden;
            }
            .header .login-button a{
             margin-left: 250px;
             margin-top:25px;

         }
            .banner{
              margin-top: 40px;
            }

     }
       @media only screen and (max-width: 660px){
        .header{
          padding-left: 20px;
        }
         .header .login-button {
          margin-top: 30px;
         }
           .header .login-button a{
             margin-left: 150px;
             margin-top:30px;
            }
            .nav ul{
              margin-left: 30px;
            }
             .nav ul li{
                width:100%;
             }
              .banner-text h1{
         font-size: 30px;
          color:black;
          margin-top: 50px;
          color:white;
          width:100%;
     }
    .banner-text h2{
   font-size:25px;
   color:black;
   margin-top: 30px;
   color:white;
   width:100%;
  }
 .banner-text p{
  color:white;
  font-size: 20px;
  margin-top: 20px;

 }
    .banner-button{
      margin-top: 20px;
    }

    .banner-button a{
  font-size: 20px;
  display: inline-block;
  margin-left:100px;
  text-decoration: none;
  color:white;
  padding: 10px 20px;
  background-color:#2D66A0;
  transition: 0.2s all linear;
 }
   .school-programs{
    transform: translateY(-200px);
    display: inline-block;

   }
    
       .school-programs-image{
        max-width:100%;
        overflow: hidden;
        margin-bottom: 0px;
       }
        .school-programs-text{
          width:80%;
          overflow: hidden;
        }
        .opportunities-to-grow{
          margin-top: 0px;
          transform: translateY(-150px);
        }
        .slider-text p{
         font-size: 25px;
        }
        .meet-principle{
      width:100%;
      display: flex;
      flex-wrap:wrap;
      margin-top: 0px;
      overflow: hidden;
      transform: translateY(-200px);
    }
    .meet-principle-component{
      width:100%;
      overflow: hidden;
      height:300px;
    } 
      .contact-tour-school{
        margin-top: 0px;
        transform: translateY(-100px);
       }
       .contact-tour-school-image{
        margin-left: 0px;
       }
       .footer{
        transform: translateY(-100px);
       }
       .contact-tour-school-details h1{
    font-family: sans-serif;
    font-size: 29px;
    margin-top: 100px;
    font-weight: 800;
    color: white;
   }
      }

      @media only screen and (max-width: 560px){
               .contact-tour-school-details{
                  padding-left:25px;
               }
               .contact-tour-school-details textarea{
           width:300px;
           padding:30px 20px;
         }
      }
      @media only screen and (max-width: 500px){
        .meet-principle{
           transform: translateY(-300px);
              }
             .contact-tour-school{
        margin-top: 0px;
        transform: translateY(-200px);
       } 
       .contact-tour-school-image{
        margin-left: 10px;
       }
       
      }
     @media only screen and (max-width: 450px){
       .contact-tour-school-image{
        margin-left: 0px;
       }
           .banner-text h1{
         font-size: 25px;
          color:black;
          margin-top: 20px;
          color:white;
          width:100%;
     }
      .banner-text h2{
   font-size:20px;
   color:black;
   margin-top: 10px;
   color:white;
   width:100%;
  }
     }