 *{
 	margin:0;
 	padding:0;
 }
 .header{
 	display:flex;
 	width:100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
 }
 .headerkey{
 }
 .logo img{
 	height:60px;
 }
 .header .nav ul li{
  float:right;
  list-style-type: none;
 }
 .header .nav ul li a{
  font-size: 16px;
  display:inline-block;
 	text-decoration: none;
 	font-family: sans-serif;
 	color:black;
  padding:10px 15px;
 }
 .header .nav ul li a:hover{
  color:#2D66A0;
 }
 .navkey{
  display: inline-block;
 }
 .login-button a{
	display: inline-block;
	text-decoration: none;
  background-color:#2D66A0;
	color:white;
  opacity: 0.8;
	transition: 0.2s all linear;
}
.header .login-button a:hover{
  opacity:1;
  color:white;
  background-color: black;
}
 .toggle{
  display:none;
}
#lable{
  font-size: 25px;
}
.banner{
  display: flex;
      flex-direction: column;
    justify-content:flex-start;
  background-image:url('../images/kid-in-school.jpg');
  padding-left: 100px;
  overflow: hidden;
  background-size: cover;
  padding-bottom:120px;
}
 .banner-text-container h1{
   font-size: 45px;
   color:black;
   color:white;
   margin-top:50px;
   font-family: 'Baskervville', serif;
 }
 .banner-text-container h2{
   font-size: 35px;
   color:black;
   margin-top: 30px;
   color:white;
   width:100%;
   font-family: 'Baskervville', serif;
 }
 .banner-text-container p{
 	color:white;
 	font-size: 30px;
 	margin-top: 20px;
  font-family: 'Baskervville', serif;
  font-family: 'Gupter', serif;
 }
 .banner-button{
  margin-top: 80px;
  padding-bottom:30px;
 }
 .banner-button a{
 	font-size: 20px;
 	display: inline-block;
 	margin-left:100px;
 	text-decoration: none;
 	color:white;
 	padding: 10px 40px;
  background-color:#2D66A0;
 	transition: 0.2s all linear;
 }
 .banner-button a:hover{
 	transform: scale(0.9);
 }
  .school-programs{
  	display:flex;
  	margin-top: 150px;
  	box-sizing: border-box;
  }
  .schoolprogramkey{
    width:50%;
  }
  .school-programs-image-content{
    overflow: hidden;
  }
   .school-programs-image-content img{
   	width:100%;
   	height: 100%;
   	object-fit: cover;
    object-position:initial;
   }
   .school-programs-text{
  	padding:50px;
  }
  .school-programs-text p{
  	font-size: 25px;
  	line-height: 25px;
     font-family: 'Gupter', serif;
  }
  .school-programs-learn-button{
  	margin-top: 50px;
  }
  .school-programs-learn-button a{
  	text-decoration: none;
  	padding:10px 30px;
  	border-radius: 20px;
  	border:2px solid #11C0FA;
  	font-family: sans-serif;
  	color:#11C0FA;
  	transition:0.4s all linear;
  }
  .school-programs-learn-button a:hover{
  	background-color: #11C0FA;
  	color:white;
  }
  .opportunities-to-grow{
    margin-top: 50px;
  }
  .slider1 .slider-text{
    position: relative;
  }
    .meet-principle{
      width:100%;
      display: flex;
      flex-wrap:wrap;
      margin-top: 100px;
    }
    .meet-principle-component{
      width:50%;
      overflow: hidden;
      height:400px;
    }
    .meet-principle-component img{
       width:100%;
       height:100%;
       object-fit:cover;
       object-position: center;
    }
    .meet-principle-component-text{
      padding: 50px 50px 0px 50px;
    }
    .meet-principle-component p{
      color:#68AAE1;
    font-size: 35px;
    }
     .meet-principle-component span{
      display:inline-block;
      color: #747474;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-top: 20px;
    font-family: sans-serif;
     }
     .meet-principle-component a{
      display: inline-block;
    text-decoration: none;
    color:white;
    background-color:#2D66A0;
    opacity: 0.7;
    font-family: sans-serif;
    padding: 10px 30px;
    margin-top: 40px;
    transition: 0.3s all linear;
     }
   .meet-principle-component a:hover{
     opacity: 1;
   }
  .opportunities-to-grow p{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .opportunities-to-grow-sliders{
  	width:100%;
  	overflow: hidden;
    padding:0px 50px 50px 50px;
  }
  .opportunities-to-grow-sliders .slider1{
    display:flex;
    padding-top: 30px;
  }
  .opportunities-to-grow-sliders img{
  	width:100%;
  	height:100%;
     position: relative;
  } 
  .contact-tour-school{
    background-image: linear-gradient(#007991,#78ffd6);
    margin-top: 50px;
    display:flex;
    align-items: center;
    width:100%;
    overflow: hidden;
    padding-bottom: 30px;
  }
  .contact-tour-school-details{
    width:40%
    padding-bottom: 100px;
    padding-left:50px;
  }

   .contact-tour-school-details h1{
     font-family: 'Gupter', serif;
    font-size: 40px;
    margin-top: 100px;
    font-weight: 700;
    color: white;
   }
      .contact-tour-school-details p{
        font-family: sans-serif;
        font-size: 17px;
        margin-top: 50px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 1px;
        color: white;
      }
     .contact-tour-school-details label{
      font-family: sans-serif;
      margin-top: 20px;
      display:inline-block;
      font-size: 18px;
      color: white;
     } 
     .contact-tour-school-details input[type="text"]{
           padding:10px 30px;
           border-outline:none;
           border-radius: 5px;
     }
    .contact-tour-school-details textarea{
           width:250px;
           padding:20px;
     }
     .contact-tour-school-image{
      width:60%;
      margin-top: 150px;
       padding-right: 20px;

     }
      .contact-tour-school-image p{
        color: white;
         font-family: 'Gupter', serif;
        
        font-size: 35px;
        margin-bottom: 30px;
        font-weight: 600;
        margin-top: 30px;
      }
      .contact-tour-school-image a{
        text-decoration: none;
        font-size: 17px;
        padding:5px 10px;
       background-color:white;
        color:gray;
        font-family: sans-serif;
        transition: 0.3s all linear
      }
      .contact-tour-school-image a:hover{
        background-color: black;
        color:white;
      }
     .footer{
      padding:20px 0px;
      text-align: center;
      background-image: linear-gradient(#007991,#78ffd6);
     }
     .footer p{
      font-family: sans-serif;
      font-size: 17px;
      color:white;
     }
     .footer span a{
      display: inline-block;
      text-decoration: none;
      color:white;
     }

      @media  only screen and (max-width: 768px){
          .header {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
       }
     .header .nav ul li a{
      font-size: 14px;
     }
      .banner{
        padding-left:50px;
        padding-bottom: 50px;
        margin-top: 10px;
      }
        .banner-text-container h1{
      font-size: 40px;
   }
   .banner-text-container h2{
    font-size: 30px;
    margin-top: 30px;
    }
      .banner-text-container p{
       font-size: 25px;
       margin-top: 20px;

      }
       .banner-button{
          margin-top: 30px;
         padding-bottom:30px;
         }
        .banner-button a{
            font-size: 20px;
            display: inline-block;
            margin-left:50px;
            text-decoration: none;
            color:white;
            padding: 10px 20px;
            background-color:#2D66A0;
            transition: 0.2s all linear;
        }
          .school-programs{
           display:block;
           margin-top: 100px;
           box-sizing: border-box;
          }
          .school-programs-image-content{
            width:100%;
            overflow-x: hidden;
          }
          .school-programs-text{
            width: calc(100% - 100px);
          }
          
          .opportunities-to-grow p{
            font-size: 30px;
          }
          .meet-principle{
           width:100%;
           display:block;
           margin-top: 100px;
            }
          .meet-principle-component{
           width:100%;
           overflow: hidden;
          height:300px;
          }
          .meet-principle-component img{
            width:100%;
            height:100%;
            object-fit:cover;
            object-position: top;
           }
          .contact-tour-school{
            width:100%;
            display:block;
          }
          .contact-tour-school-details{
            overflow: hidden;
          }
           .contact-tour-school-image{
            margin-top: 80px;
            width:100%;
            text-align: center;
            padding-bottom: 30px;
            overflow: hidden;
         }
         .contact-tour-school-image p{
            color: white;
           font-family: sans-serif;
           font-size: 30px;
           margin-bottom: 30px;
           font-weight: 500;
           margin-top: 30px;
      }
      .contact-tour-school-image a{
        text-decoration: none;
        font-size: 17px;
        padding:5px 10px;
          background-color:white;
          }
          .footer p{
           font-family: sans-serif;
           font-size: 12px;
           color:white;
          }
        }

    @media only screen and (max-width: 480px){
      .header{
        display: block;
      }
       .nav{
            display: none;
          }
          .toggle{
            display:block;
            float: right;
            margin-top: -50px;
            margin-right:20px;
          }
          #toggle{
            float:right;
            display:none;  
          }
          .import{
                display: block;
                height: 100px;
                width: 100%;
            }       
            .header .nav ul li{
              display: block;
              width:100%;
              text-align: center;
              margin-bottom: 10px;
            }
        .banner{
        padding-left:20px;
        margin-top: 20px;
        padding-bottom: 20px;
         }
          .banner-text-container h1{
           font-size: 25px;
           }
       .banner-text-container h2{
        font-size: 20px;
         margin-top: 20px;
       }
      .banner-text-container p{
       font-size: 17px;
       margin-top: 15px;
      }
       .banner-button a{
            font-size: 17px;
            display: inline-block;
            margin-left:15px;
            text-decoration: none;
            color:white;
            padding: 7px 12px;
            background-color:#2D66A0;
            transition: 0.2s all linear;
        }
        .school-programs-text p {
        font-family: sans-serif;
        font-size: 15px;
        line-height: 20px;
      }
        .opportunities-to-grow p{
            font-size: 15px;
          }   
          .meet-principle-component p {
             color: #68AAE1;
             font-size: 25px;
         } 
         .meet-principle-component span {
           display: inline-block;    
           font-size: 17px;
           line-height: 20px;
           margin-top: 10px;
         }
         .meet-principle-component a {
           display: inline-block;
           text-decoration: none;
           color: white;
           background-color: #2D66A0;
           opacity: 0.7;
           font-family: sans-serif;
           padding: 10px 20px;
           margin-top: 20px;
           transition: 0.3s all linear;
       }
        .contact-tour-school-details{
          padding-left: 20px;
          padding-right:20px;
        }
        .contact-tour-school-image p{
          display:none;
        }
        .contact-tour-school-details textarea{
           width:200px;
           padding:20px;
       }

    }

